body {
/* Slide 16:9 - 1 */

    min-height:100vh;
    display:flex;
    flex-direction:column;
    margin:0;
    position: relative;
    background: #000000;
}

.container {
  height: 100%;
    width: 100px;
    margin-left: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


a {
  display: block;
    margin-top: 90px;
    margin-left: 100%;
  padding: 1rem 1.25rem;
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #dadada;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}
a:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #dadada;
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  z-index: -1;
}
a:hover {
  color: #2D2D2D;
}
a:hover:after {
  right: 0;
  left: 0;
  height: 100%;
}
/* rectangle */


div.rectangle1 {
    /* Rectangle 1 */
    padding: 100px;
    position: absolute;
    width: 100vw;
    height: calc(100vh + 10px);
    top: -10px;
    border: 9px solid #807e7e;
    box-sizing: border-box;
    z-index: 1;
}

/*div.rectangle1:hover {*/
/*    !* Rectangle 1 *!*/
/*    border: 9px solid #7ef6a3;*/

/*}*/

div.rectangle2 {
    /* Rectangle 2 */
    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 9px solid #807e7e;
    box-sizing: border-box;
    z-index: 2;
}
/*div.rectangle2:hover {*/
/*    !* Rectangle 1 *!*/
/*    border: 9px solid #7ef6a3;*/

/*}*/

div.rectangle3 {
    /* Rectangle 3 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 8px solid #807e7e;
    box-sizing: border-box;
    z-index: 3;
}


div.rectangle4 {
    /* Rectangle 4 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 8px solid #807e7e;
    box-sizing: border-box;
    z-index: 4;
}



div.rectangle5 {
    /* Rectangle 5 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 7px solid #807e7e;
    box-sizing: border-box;
    z-index: 5;
}


div.rectangle6 {
    /* Rectangle 6 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 7px solid #807e7e;
    box-sizing: border-box;
    z-index: 6;
}



div.rectangle7 {
    /* Rectangle 7 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 6px solid #807e7e;
    box-sizing: border-box;
    z-index: 7;
}



div.rectangle8 {
    /* Rectangle 8 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 6px solid #807e7e;
    box-sizing: border-box;
    z-index: 8;
}


div.rectangle9 {
    /* Rectangle 9 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 5px solid #807e7e;
    box-sizing: border-box;
}

div.rectangle10 {
    /* Rectangle 10 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 4px solid #807e7e;
    box-sizing: border-box;
}

div.rectangle11 {
    /* Rectangle 11 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 3px solid #807e7e;
    box-sizing: border-box;
}

div.rectangle12 {
    /* Rectangle 12 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 2px solid #FF5656;
    box-sizing: border-box;
}

div.rectangle13 {
    /* Rectangle 13 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 1px solid #FF5656;
    box-sizing: border-box;
}

div.rectangle14 {
    /* Rectangle 14 */

    margin-top: -20px;
    position: absolute;
    top: 8px; bottom: 8px; left: 8px; right: 8px;
    border: 1px solid rgba(255, 86, 86, 0.42);
    box-sizing: border-box;
}
/*.header {*/
/*  padding: 6px;*/
/*  height: 50px;*/
/*  text-align: center;*/
/*  background: #1abc9c;*/
/*  color: white;*/
/*  font-size: 15px;*/
/*}*/

/*.footer{*/
/*    height: 50px;*/
/*    background: #b0f8c6;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    font-size: 15px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

div.content {


    font-size: 75px;
    text-align: center;
    color: white;
}

p.text_logo  {
    /* web_студия */


    position: absolute;
    width: calc(70vw + 10px);
    height: calc(80vh + 10px);
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;

    color: #D8D8D8;

}

p.text_logo2  {
    /* web_студия */


    position: absolute;
    width: calc(70vw + 10px);
    height: calc(30vh + 10px);
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;

    color: #D8D8D8;

}

p.age  {
    /* web_студия */


    position: absolute;
    width: calc(70vw + 10px);
    height: calc(30vh + 10px);
    top: 410px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 77px;
    text-align: center;

    color: #D8D8D8;

}

/*контактная форма*/
.contact_form {
    width: 50vw;
    height: 100px;
    margin: 80px 110px;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}
.form-group {
    color: #dadada;
}

.btn-dark {
    color: #0e0a0a;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-dark:hover {
    color: #fff;
    background-color: #0e0a0a;
    border-color: #0e0a0a;
}